<%- include('parts/top.ejs') %>


    <!-- Page Content -->
    <div class="page-heading contact-heading header-text">
        </div>
    </div>

    <div class="products">
        <div class="container">
            <div class="row">
            
            <div class="col-md-12">
                <div class="filters-content">
                    <div class="row grid">
                    <% for (let task of tasks) {%>
                        <div class="col-lg-4 col-md-4 all des">
                        <div class="product-item"> 
                            <div class="down-content">
                            <h4><%= task.title %></h4></a>
                            <p><%= task.description %></p>
                            <p><%= task.user %></p>
                            <h7><%= task.status %></h7>
                            <p><%= task.due_date %></p>
                
                            
                        </div>
                        </div>
                    </div>
                    <%}%>
                </div>
            </div>
            </div>
    
        </div>
        </div>
    </div>



<%- include('parts/bottom.ejs') %>